# dependencies
/node_modules
/.pnp
.pnp.js

# docker
.dockerignore
Dockerfile

# data
/data

# next
/.next/
/out/
next-env.d.ts

# env
.env
.env.example

# misc
.DS_Store
*.pem

# prisma
/prisma/prod.db

# git
.git
.gitignore

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo