.root {
  position: relative;
  height: var(--global-header-height);
  margin-left: -1px;
  z-index: 100;
  input.input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    padding: 0.5rem 2rem;
    color: white;
    border-radius: 0px;
    border-color: transparent var(--global-color-secondary)
      var(--global-color-secondary) transparent;
    box-shadow: none;
    &::placeholder {
      font: inherit;
      color: white;
    }
    &:focus {
      outline-color: transparent;
    }
  }
}
