.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.form {
  max-width: 20rem;
  width: 100%;
}

.divider {
  color: var(--global-color-light);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
