.root {
  background: black;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  overflow: hidden;
  position: relative;
}

.header,
.footer {
  position: absolute;
  left: 0;
  right: 0;

  z-index: 500;

  width: 100%;

  opacity: 1;
  transition: 1s ease opacity;

  .wrapper {
    padding: 0rem 0.5rem;
    transition: 1s ease transform;
  }

  &.hidden {
    opacity: 1;
    transition: 1s ease opacity;
    .wrapper {
      transition: 1s ease transform;
    }
  }

  &.manual {
    > .wrapper {
      transform: translateY(0%) !important;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--global-header-height);
  }
}

.header {
  top: 0;

  height: var(--global-header-height);

  .wrapper {
    background: linear-gradient(rgba(black, 0.8), rgba(black, 0));
  }
  .title {
    text-shadow: 0px 2px 0.5rem rgba(black, 0.2);
  }
  &.hidden .wrapper {
    transform: translateY(-100%);
  }
}

.footer {
  bottom: 0;

  height: var(--global-header-height);

  .wrapper {
    background: linear-gradient(rgba(black, 0), rgba(black, 0.8));
  }
  &.hidden .wrapper {
    transform: translateY(100%);
  }
}

.title {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
  text-align: center;
}

.tools {
  display: flex;
  align-items: center;
}

.canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  &.dual {
    .page {
      max-width: 50vw;
      img {
        max-width: 50vw;
      }
    }
  }
  &.reverse {
    flex-direction: row-reverse;
  }
  .page {
    height: 100vh;
    position: relative;
    img {
      object-fit: contain;
      object-position: center;
      position: relative;
      height: 100vh;
    }
    &.hidden {
      display: none;
    }
  }
}

.timeline {
  flex: 1 auto;
  padding: 0rem 1rem;
}

.faux {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  opacity: 1;
  pointer-events: none;
  img {
    max-width: 100px;
  }
}

.control {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  &__left,
  &__right {
    position: absolute;
    top: 0;
    height: 100%;
    width: 25%;
    background: transparent;
    z-index: 400;
    cursor: pointer;
  }
  &__left {
    left: 0;
  }
  &__right {
    right: 0;
  }
}

.prevVolume,
.nextVolume {
  margin: 1rem;
  padding: 1rem;
  max-width: 24rem;

  background: rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 100;

  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
}

.error,
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  max-height: 100vh;
}

.loader {
  svg {
    animation-name: spin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.content {
  transform: translateX(var(--component-offset));
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
