.root {
  background: var(--global-color-secondary);
  border-radius: 0.25rem;
  position: relative;
  // min-width: 16rem;
  &:hover {
    .edit {
      opacity: 1;
      transition: 0.25s ease;
    }
  }
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.cover {
  padding-top: 150%;
  width: 100%;
  display: block;
  position: relative;
  border-radius: 0.25rem 0.25rem 0 0;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem 0.25rem 0 0;
  }
}

.meta {
  padding: 1rem 1rem;
  line-height: 1.6;
  &__ghost {
    padding: 0.25rem 1rem;
  }
}

.headline {
  display: block;
  width: 16rem;
  font-weight: 600;
  &__ghost {
    max-width: 12rem;
  }
}

.subline {
  font-size: 0.9rem;
  color: var(--global-color-light);
  &__ghost {
    max-width: 6rem;
  }
}

.headline,
.subline {
  margin: 0.1rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  &__ghost {
    margin: 0.5rem 0;
    border-radius: 0.2rem;
    background: rgba(white, 0.1);
  }
}

.edit {
  max-width: calc(100% - 2rem);
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  opacity: 0;
  background: rgba(black, 0.5);
  border-radius: 0.25rem;
  transition: 0.25s ease;
}
