.root {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.label {
  width: 6rem;
  display: block;
  margin-right: 1rem;
  text-align: right;
  font-weight: 600;
}

.input {
  width: calc(100% - 7rem);
  input {
    width: 100%;
  }
}
