@import 'variables';

.root {
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;

  cursor: pointer;

  display: block;
  position: relative;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  font-weight: 600;

  color: white;
  background: var(--component-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

  &.opaque {
    background: rgba(var(--component-color-rgb), 0.1);
    color: var(--component-color);
  }

  &.wide {
    width: 100%;
  }

  &.transparent {
    background: transparent;
    box-shadow: none;
  }

  &.loading {
    color: transparent;
    svg {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      animation-name: spin;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      transform-origin: center;
    }
  }

  @each $color, $value in $site-colors {
    &.#{$color} {
      --component-color: var(--global-color-#{$color});
      --component-color-rgb: var(--global-color-#{$color}-rgb);
    }
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  .root {
    border-radius: 0rem;
    &:first-of-type {
      border-radius: 0.25rem 0rem 0rem 0.25rem;
    }
    &:last-of-type {
      border-radius: 0rem 0.25rem 0.25rem 0rem;
    }
  }
}

.disabled {
  cursor: not-allowed;
  background: rgba(var(--global-color-dark-gray-rgb), 0.9);
}
