.root {
  margin: 0rem auto;
  padding: 0rem 0rem 2.5rem;
  max-width: 42rem;

  h2 {
    margin-bottom: 1rem;
  }

  input,
  select,
  button {
    margin: 0.25rem 0;
  }

  button {
    margin-top: 0.5rem;
  }
}
