@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  background: white;
  color: black;
  border-radius: 0.25rem;

  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  animation-fill-mode: forwards;

  will-change: 'transform opacity';

  &[data-state='open'] {
    &[data-side='top'] {
      animation-name: slideDownAndFade;
    }
    &[data-side='right'] {
      animation-name: slideLeftAndFade;
    }
    &[data-side='bottom'] {
      animation-name: slideUpAndFade;
    }
    &[data-side='left'] {
      animation-name: slideRightAndFade;
    }
  }
}

.item {
  all: unset;
  font-size: 1rem;
  line-height: 1;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.75rem 1rem;
  background: white;

  min-width: 16rem;

  &:first-of-type {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  &:last-of-type {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}
