@import 'variables';

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

#__next {
  isolation: isolate;
  min-height: 100vh;
}

body,
html {
  font-family: 'Inter', sans-serif;
  background: var(--global-color-dark);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

@function toRGB($color) {
  @return red($color) + ', ' + green($color) + ', ' + blue($color);
}

:root {
  color-scheme: dark;

  @each $color, $value in $site-colors {
    --global-color-#{$color}: #{$value};
    --global-color-#{$color}-rgb: #{toRGB($value)};
  }

  --global-sidebar-width: 16rem;
  --global-header-height: 4rem;

  --global-input-background: var(--global-color-dark);
  --global-input-background-rgb: var(--global-color-dark-rgb);
  --global-input-color: var(--global-color-white);
  --global-input-color-rgb: var(--global-color-white-rgb);
  --global-input-border: var(--global-color-dark-gray);
  --global-input-border-rgb: var(--global-color-dark-gray-rgb);
}

label {
  font-size: 0.95rem;
}

input:not([type='checkbox']):not([type='radio']) {
  border-radius: 0.25rem;
  padding: 0.75rem;

  border: 1px solid var(--global-input-border);
  background: var(--global-input-background);
  color: var(--global-input-color);

  width: 100%;

  font-weight: 400;
  font-size: 0.95rem;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

  &:focus {
    border-color: var(--global-color-primary);
    outline: 1px solid var(--global-color-primary);
  }
  &::placeholder {
    color: rgba(var(--global-input-color-rgb), 0.5);
  }
}

select {
  appearance: none;

  border-radius: 0.25rem;
  padding: 0.75rem 3rem 0.75rem 0.75rem;

  border: 1px solid var(--global-input-border);
  background-color: var(--global-input-background);
  background-image: url('/icons/chevron-down.svg');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  color: var(--global-input-color);

  width: 100%;

  &:focus {
    border-color: var(--global-color-primary);
    outline: 1px solid var(--global-color-primary);
  }
}
