.root {
  background: black;
  min-height: 100vh;
}

.header,
.footer {
  z-index: 100;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;

  background: var(--global-color-secondary);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0rem 1rem;

  height: var(--global-header-height);
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25rem;
  font-weight: bold;
}

.tools {
  display: flex;
  align-items: center;

  > * {
    padding: 0rem 1rem;
  }
}

.canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  .page {
    display: block;
    img {
      height: 100vh;
      object-fit: contain;
      object-position: center;
      position: relative;
      max-width: 50vw;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;

  background: var(--global-color-secondary);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0rem 1rem;

  height: var(--global-header-height);
}
