$site-colors: (
  primary: #5e6ad2,
  secondary: #27282b,
  success: #4cc38a,
  danger: #ff6666,
  white: #ffffff,
  gray: #dfe1e4,
  light: #8a8f98,
  dark: #1f2023,
  dark-gray: #27282b,
  black: #000000,
);
